<a href="https://colab.research.google.com/github/hi-giih/TCC---2022/blob/main/Tcc_Real.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***Aplicação da Metodologia K-means sobre questionario de alunos.***

# Tratando dados

In [ ]:
import pandas as pd
import numpy as np
import sklearn
import plotly.offline as py
import plotly.express as px

## Dados Totais

In [ ]:
DadosTotais = pd.read_csv('DadosGeraisT.csv', sep=';')

In [ ]:
DadosTotais.head(2)

,idade,semestre,sexo,cidade,salario,area_preferencia,opcao_desenvolvimento,plataforma_utiliza,trabalha_area,tempo_experiencia,dp,qtd_dp,area_dp,domina_linguagem,qtd_linguagem_domina,qtd_cursos_adicionais,programacao_web,banco_dados,sistemas_operacionais,estrutura_dados
0,18,2,Masculino,Araras,1.0,Programacao,Desktop,Backend,Nao,0.0,DP_Nao,0,Nenhum,Domina_Sim,3,4,10.0,10.0,10.0,10.0
1,27,2,Masculino,Rio Claro,1600.0,Programacao,Desktop,Full Stack,Nao,0.0,DP_Nao,0,Nenhum,Domina_Sim,1,2,0.0,0.0,0.0,0.0

In [ ]:
DadosTotais.isnull().sum()

idade                    0
semestre                 0
sexo                     0
cidade                   0
salario                  0
area_preferencia         0
opcao_desenvolvimento    0
plataforma_utiliza       0
trabalha_area            0
tempo_experiencia        0
dp                       0
qtd_dp                   0
area_dp                  0
domina_linguagem         0
qtd_linguagem_domina     0
qtd_cursos_adicionais    0
programacao_web          0
banco_dados              0
sistemas_operacionais    0
estrutura_dados          0
dtype: int64

Padronizando os dados por Colunas

Colunas

In [ ]:
Sexo = pd.get_dummies(DadosTotais['sexo'])
Dados=pd.concat([DadosTotais, Sexo], axis = 1)
Dados= Dados.drop(['sexo'], axis=1)

In [ ]:
Cidade = pd.get_dummies(DadosTotais['cidade'])
Dados=pd.concat([Dados,Sexo,Cidade], axis = 1)
Dados = Dados.drop(['cidade'], axis=1)

Area_preferencia = pd.get_dummies(DadosTotais['area_preferencia'])
Dados=pd.concat([Dados,Sexo,Cidade,Area_preferencia], axis = 1)
Dados = Dados.drop(['area_preferencia'], axis=1)

Opcao_desenvolvimento = pd.get_dummies(DadosTotais['opcao_desenvolvimento'])
Dados=pd.concat([Dados,Sexo,Area_preferencia, Opcao_desenvolvimento], axis = 1)
Dados= Dados.drop(['opcao_desenvolvimento'], axis=1)

Plataforma_utiliza = pd.get_dummies(DadosTotais['plataforma_utiliza'])
Dados=pd.concat([Dados,Sexo,Area_preferencia, Opcao_desenvolvimento, Plataforma_utiliza], axis = 1)
Dados= Dados.drop(['plataforma_utiliza'], axis=1)

Trabalha_area = pd.get_dummies(DadosTotais['trabalha_area'])
Dados=pd.concat([Dados,Sexo,Area_preferencia, Opcao_desenvolvimento, Plataforma_utiliza, Trabalha_area], axis = 1)
Dados= Dados.drop(['trabalha_area'], axis=1)

Dp = pd.get_dummies(DadosTotais['dp'])
Dados=pd.concat([Dados,Sexo,Area_preferencia, Opcao_desenvolvimento, Plataforma_utiliza, Trabalha_area, Dp], axis = 1)
Dados= Dados.drop(['dp'], axis=1)

Areadp = pd.get_dummies(DadosTotais['area_dp'])
Dados=pd.concat([Dados,Sexo,Area_preferencia, Opcao_desenvolvimento, Plataforma_utiliza, Trabalha_area, Dp, Areadp], axis = 1)
Dados= Dados.drop(['area_dp'], axis=1)

Domina_linguagem = pd.get_dummies(DadosTotais['domina_linguagem'])
Dados=pd.concat([Dados,Sexo,Area_preferencia, Opcao_desenvolvimento, Plataforma_utiliza, Trabalha_area, Dp, Areadp, Domina_linguagem], axis = 1)
Dados= Dados.drop(['domina_linguagem'], axis=1)

In [ ]:
Dados.head(2)

,idade,semestre,salario,tempo_experiencia,qtd_dp,qtd_linguagem_domina,qtd_cursos_adicionais,programacao_web,banco_dados,sistemas_operacionais,...,Nao,Sim,DP_Nao,DP_Sim,Banco de dados,Linguagem de Programacao,Nenhum,Redes/ Infraestrutura,Domina_Nao,Domina_Sim
0,18,2,1.0,0.0,0,3,4,10.0,10.0,10.0,...,1,0,1,0,0,0,1,0,0,1
1,27,2,1600.0,0.0,0,1,2,0.0,0.0,0.0,...,1,0,1,0,0,0,1,0,0,1

In [ ]:
#descricao_linguagem_domina = pd.get_dummies(DadosTotais['descricao_linguagem_domina'])
#Dados=pd.concat([Dados,Sexo,Area_preferencia, Opcao_desenvolvimento, Plataforma_utiliza, Trabalha_area,  Dp, Areadp, Domina_linguagem, descricao_linguagem_domina], axis = 1)
#Dados= Dados.drop(['descricao_linguagem_domina'], axis=1)

#descricao_linguagem_domina1 = pd.get_dummies(DadosTotais['descricao_linguagem_domina.1'])
#Dados=pd.concat([Dados,Sexo,Area_preferencia, Opcao_desenvolvimento, Plataforma_utiliza, Trabalha_area,  Dp, Areadp, Domina_linguagem, descricao_linguagem_domina,descricao_linguagem_domina1], axis = 1)
#Dados= Dados.drop(['descricao_linguagem_domina.1'], axis=1)

#descricao_linguagem_domina2 = pd.get_dummies(DadosTotais['descricao_linguagem_domina.2'])
#Dados=pd.concat([Dados,Sexo,Area_preferencia, Opcao_desenvolvimento, Plataforma_utiliza, Trabalha_area,  Dp, Areadp, Domina_linguagem, descricao_linguagem_domina,descricao_linguagem_domina1,descricao_linguagem_domina2], axis = 1)
#Dados= Dados.drop(['descricao_linguagem_domina.2'], axis=1)

#descricao_linguagem_domina3 = pd.get_dummies(DadosTotais['descricao_linguagem_domina.3'])
#Dados=pd.concat([Dados,Sexo,Area_preferencia, Opcao_desenvolvimento, Plataforma_utiliza, Trabalha_area,  Dp, Areadp, Domina_linguagem, descricao_linguagem_domina,descricao_linguagem_domina1,descricao_linguagem_domina2,descricao_linguagem_domina3], axis = 1)
#Dados= Dados.drop(['descricao_linguagem_domina.3'], axis=1)

#descricao_linguagem_domina4 = pd.get_dummies(DadosTotais['descricao_linguagem_domina.4'])
#Dados=pd.concat([Dados,Sexo,Area_preferencia, Opcao_desenvolvimento, Plataforma_utiliza, Trabalha_area,  Dp, Areadp, Domina_linguagem, descricao_linguagem_domina,descricao_linguagem_domina1, descricao_linguagem_domina2,descricao_linguagem_domina3,descricao_linguagem_domina4], axis = 1)
#Dados= Dados.drop(['descricao_linguagem_domina.4'], axis=1)

#descricao_linguagem_domina5 = pd.get_dummies(DadosTotais['descricao_linguagem_domina.5'])
#Dados=pd.concat([Dados,Sexo,Area_preferencia, Opcao_desenvolvimento, Plataforma_utiliza, Trabalha_area,  Dp, Areadp, Domina_linguagem, descricao_linguagem_domina,descricao_linguagem_domina1,descricao_linguagem_domina2, descricao_linguagem_domina3,descricao_linguagem_domina4,descricao_linguagem_domina5], axis = 1)
#Dados= Dados.drop(['descricao_linguagem_domina.5'], axis=1)

In [ ]:
#descricao_linguagem_domina6 = pd.get_dummies(DadosTotais['descricao_linguagem_domina.6'])
#Dados=pd.concat([Dados,Sexo,Area_preferencia, Opcao_desenvolvimento, Plataforma_utiliza, Trabalha_area,  Dp, Areadp, Domina_linguagem, descricao_linguagem_domina,descricao_linguagem_domina1, descricao_linguagem_domina2,descricao_linguagem_domina3,descricao_linguagem_domina4,descricao_linguagem_domina5,descricao_linguagem_domina6], axis = 1)
#Dados= Dados.drop(['descricao_linguagem_domina.6'], axis=1)

#descricao_linguagem_domina7 = pd.get_dummies(DadosTotais['descricao_linguagem_domina.7'])
#Dados=pd.concat([Dados,Sexo,Area_preferencia, Opcao_desenvolvimento, Plataforma_utiliza, Trabalha_area,  Dp, Areadp, Domina_linguagem, descricao_linguagem_domina,descricao_linguagem_domina1, descricao_linguagem_domina2,descricao_linguagem_domina3,descricao_linguagem_domina4,descricao_linguagem_domina5,descricao_linguagem_domina6,descricao_linguagem_domina7], axis = 1)
#Dados= Dados.drop(['descricao_linguagem_domina.7'], axis=1)

#descricao_linguagem_domina8 = pd.get_dummies(DadosTotais['descricao_linguagem_domina.8'])
#Dados=pd.concat([Dados,Sexo,Area_preferencia, Opcao_desenvolvimento, Plataforma_utiliza, Trabalha_area,  Dp, Areadp, Domina_linguagem, descricao_linguagem_domina,descricao_linguagem_domina1, descricao_linguagem_domina2,descricao_linguagem_domina3,descricao_linguagem_domina4,descricao_linguagem_domina5,descricao_linguagem_domina6,descricao_linguagem_domina7, descricao_linguagem_domina8], axis = 1)
#Dados= Dados.drop(['descricao_linguagem_domina.8'], axis=1)

#descricao_linguagem_domina9 = pd.get_dummies(DadosTotais['descricao_linguagem_domina.9'])
#Dados=pd.concat([Dados,Sexo,Area_preferencia, Opcao_desenvolvimento, Plataforma_utiliza, Trabalha_area,  Dp, Areadp, Domina_linguagem, descricao_linguagem_domina,descricao_linguagem_domina1, descricao_linguagem_domina2,descricao_linguagem_domina3,descricao_linguagem_domina4,descricao_linguagem_domina5,descricao_linguagem_domina6,descricao_linguagem_domina7, descricao_linguagem_domina8,descricao_linguagem_domina9], axis = 1)
#Dados= Dados.drop(['descricao_linguagem_domina.9'], axis=1)

#descricao_linguagem_domina10 = pd.get_dummies(DadosTotais['descricao_linguagem_domina.10'])
#Dados=pd.concat([Dados,Sexo,Area_preferencia, Opcao_desenvolvimento, Plataforma_utiliza, Trabalha_area,  Dp, Areadp, Domina_linguagem, descricao_linguagem_domina,descricao_linguagem_domina1, descricao_linguagem_domina2,descricao_linguagem_domina3,descricao_linguagem_domina4,descricao_linguagem_domina5,descricao_linguagem_domina6,descricao_linguagem_domina7, descricao_linguagem_domina8, descricao_linguagem_domina9,descricao_linguagem_domina10], axis = 1)
#Dados= Dados.drop(['descricao_linguagem_domina.10'], axis=1)

In [ ]:
Dados.head(2)

,idade,semestre,salario,tempo_experiencia,qtd_dp,qtd_linguagem_domina,qtd_cursos_adicionais,programacao_web,banco_dados,sistemas_operacionais,...,Nao,Sim,DP_Nao,DP_Sim,Banco de dados,Linguagem de Programacao,Nenhum,Redes/ Infraestrutura,Domina_Nao,Domina_Sim
0,18,2,1.0,0.0,0,3,4,10.0,10.0,10.0,...,1,0,1,0,0,0,1,0,0,1
1,27,2,1600.0,0.0,0,1,2,0.0,0.0,0.0,...,1,0,1,0,0,0,1,0,0,1

# Treinando dados

## Pipeline

In [ ]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

In [ ]:
SEED = 50

np.random.seed(50)

In [ ]:
pca_pipeline= Pipeline([('scaler', StandardScaler()), ['PCA', PCA(n_components=2, random_state=SEED)]])

### Dados Totais

In [ ]:
Dados.shape #linhas por colunas

(60, 196)

In [ ]:
Dados_embbeding_pca= pca_pipeline.fit_transform(Dados) #Mudar tudo pra ponto

In [ ]:
projectionDT = pd.DataFrame(columns=['x','y'], data=Dados_embbeding_pca)

In [ ]:
projectionDT

# *Kmeans*

In [ ]:
import numpy as np #para manipular os vetores
from matplotlib import pyplot as plt #para plotar os gráficos
from sklearn.cluster import KMeans #para usar o KMeans
import  plotly.graph_objects as go

### Dados Totais

In [ ]:
kmeans= KMeans(n_clusters= 4, #numero de clusters
init = 'k-means++', n_init = 10, #algoritmo que define a posição dos clusters de maneira mais assertiva
verbose=True, #Explicação 
random_state=SEED)#Aleatoriadade

In [ ]:
kmeans.fit(projectionDT)

Initialization complete
Iteration 0, inertia 516.8739904786545
Iteration 1, inertia 391.7298457668416
Converged at iteration 1: strict convergence.
Initialization complete
Iteration 0, inertia 523.0162063232196
Iteration 1, inertia 451.44672733277184
Iteration 2, inertia 433.8652432822911
Iteration 3, inertia 403.75197058945014
Iteration 4, inertia 391.7298457668416
Converged at iteration 4: strict convergence.
Initialization complete
Iteration 0, inertia 519.8337334589881
Iteration 1, inertia 393.00747756602084
Iteration 2, inertia 391.7298457668416
Converged at iteration 2: strict convergence.
Initialization complete
Iteration 0, inertia 456.27080156654233
Iteration 1, inertia 391.7298457668416
Converged at iteration 1: strict convergence.
Initialization complete
Iteration 0, inertia 610.0467172983195
Iteration 1, inertia 419.579148700602
Iteration 2, inertia 391.7298457668416
Converged at iteration 2: strict convergence.
Initialization complete
Iteration 0, inertia 796.015645193901
Iteration 1, inertia 486.7554978486721
Iteration 2, inertia 446.7060735324043
Iteration 3, inertia 445.9330638743053
Converged at iteration 3: strict convergence.
Initialization complete
Iteration 0, inertia 557.2670245042104
Iteration 1, inertia 447.0841570769953
Iteration 2, inertia 437.3608298343885
Converged at iteration 2: strict convergence.
Initialization complete
Iteration 0, inertia 465.48717830437397
Iteration 1, inertia 391.7298457668416
Converged at iteration 1: strict convergence.
Initialization complete
Iteration 0, inertia 895.3306816741849
Iteration 1, inertia 486.33989039858443
Iteration 2, inertia 485.4238486366907
Iteration 3, inertia 484.6093930724584
Converged at iteration 3: strict convergence.
Initialization complete
Iteration 0, inertia 651.8611188338541
Iteration 1, inertia 446.7060735324043
Iteration 2, inertia 445.9330638743053
Converged at iteration 2: strict convergence.

KMeans(n_clusters=4, random_state=50, verbose=True)

In [ ]:
Dados['cluster_pca'] = kmeans.predict(projectionDT)
projectionDT['cluster_pca'] = kmeans.predict(projectionDT)

Variaveis

In [ ]:
projectionDT['Idade'] = DadosTotais['idade']
projectionDT['Semestre'] = DadosTotais['semestre']
projectionDT['Genero'] = DadosTotais['sexo']
projectionDT['Cidade'] = DadosTotais['cidade']
projectionDT['Salario'] = DadosTotais['salario']
projectionDT['Area_preferencia'] = DadosTotais['area_preferencia']
projectionDT['Opcao_desenvolvimento '] = DadosTotais['opcao_desenvolvimento']
projectionDT['Plataforma_utiliza '] = DadosTotais['plataforma_utiliza']
projectionDT['Trabalha_area'] = DadosTotais['trabalha_area']
projectionDT['Tempo_experiencia'] = DadosTotais['tempo_experiencia']
projectionDT['Dependencias'] = DadosTotais['dp']
projectionDT['Qtd_dp'] = DadosTotais['qtd_dp']
projectionDT['Area_dp'] = DadosTotais['area_dp']
projectionDT['Domina_linguagem'] = DadosTotais['domina_linguagem']
projectionDT['qtd_linguagem_domina'] = DadosTotais['qtd_linguagem_domina']
projectionDT['estrutura_dados '] = DadosTotais['estrutura_dados']
projectionDT['programacao_web'] = DadosTotais['programacao_web']
projectionDT['banco_dados'] = Dados['banco_dados']
projectionDT['sistemas_operacionais'] = DadosTotais['sistemas_operacionais']

# Plotando

In [ ]:
Dados

,idade,semestre,salario,tempo_experiencia,qtd_dp,qtd_linguagem_domina,qtd_cursos_adicionais,programacao_web,banco_dados,sistemas_operacionais,...,Sim,DP_Nao,DP_Sim,Banco de dados,Linguagem de Programacao,Nenhum,Redes/ Infraestrutura,Domina_Nao,Domina_Sim,cluster_pca
0,18,2,1.000,0.0,0,3,4,10.0,10.0,10.0,...,0,1,0,0,0,1,0,0,1,0
1,27,2,1600.000,0.0,0,1,2,0.0,0.0,0.0,...,0,1,0,0,0,1,0,0,1,0
2,21,6,1500.000,0.0,3,3,3,9.0,7.0,7.0,...,1,0,1,0,1,0,0,0,1,2
3,25,2,2200.000,2.5,0,4,2,9.0,10.0,10.0,...,0,1,0,0,0,1,0,0,1,0
4,25,4,2200.000,2.6,0,6,2,0.0,8.9,8.5,...,1,1,0,0,0,1,0,0,1,0
5,21,8,2720.000,11.0,0,2,1,7.0,8.0,6.0,...,1,1,0,0,0,1,0,0,1,2
6,20,2,0.000,0.7,0,1,3,0.0,0.0,0.0,...,1,1,0,0,0,1,0,0,1,2
7,24,8,1.000,1.0,5,3,2,8.0,5.0,6.0,...,0,0,1,1,0,0,0,0,1,2
8,19,2,2300.000,2.1,0,7,1,0.0,0.0,0.0,...,1,1,0,0,0,1,0,0,1,0
9,22,6,6000.000,1.5,0,4,15,9.1,9.0,7.2,...,1,1,0,0,0,1,0,0,1,0
10,25,8,2.500,1.4,0,3,5,8.6,8.1,5.6,...,1,1,0,0,0,1,0,0,1,0
11,25,8,4.800,1.7,0,1,2,9.0,8.6,7.0,...,1,1,0,0,0,1,0,0,1,0
12,20,8,3500.000,2.0,0,2,6,9.0,8.0,6.0,...,1,1,0,0,0,1,0,0,1,2
13,22,8,2.260,4.0,4,1,2,5.0,7.0,7.0,...,1,0,1,1,0,0,0,1,0,3
14,25,8,5.500,2.0,0,7,8,9.6,10.0,9.4,...,1,1,0,0,0,1,0,0,1,0
15,20,2,800.000,0.1,0,1,0,8.0,8.0,8.0,...,0,1,0,0,0,1,0,1,0,2
16,21,8,10000.000,2.0,0,13,2,10.0,10.0,10.0,...,1,1,0,0,0,1,0,0,1,0
17,20,4,600.000,0.1,0,2,3,8.0,6.0,7.0,...,1,1,0,0,0,1,0,1,0,0
18,21,8,800.000,2.0,0,2,2,10.0,8.0,8.0,...,1,1,0,0,0,1,0,0,1,0
19,22,8,1000.000,0.4,0,2,1,9.0,8.0,6.0,...,1,1,0,0,0,1,0,0,1,0
20,20,2,2000.000,0.1,0,3,0,9.0,8.0,7.0,...,0,1,0,1,0,0,0,0,1,0
21,21,4,2000.000,1.0,0,3,1,7.0,8.0,7.5,...,0,1,0,0,0,1,0,1,0,1
22,20,6,0.000,3.0,0,6,1,0.0,0.0,0.0,...,1,1,0,0,0,1,0,0,1,2
23,22,6,1900.000,0.9,0,2,6,9.0,8.0,8.0,...,0,1,0,0,0,1,0,0,1,0
24,22,4,0.000,0.7,0,1,5,0.0,9.0,7.6,...,1,1,0,0,0,1,0,0,1,0
25,20,4,1600.000,1.5,0,3,3,10.0,10.0,5.0,...,1,1,0,0,0,1,0,0,1,2
26,19,2,0.000,0.8,0,1,6,0.0,5.9,7.7,...,0,1,0,0,0,1,0,0,1,0
27,41,8,3.200,8.0,0,0,3,6.0,6.0,6.0,...,1,1,0,0,0,1,0,1,0,2
28,21,8,10.000,2.0,0,13,2,10.0,10.0,10.0,...,1,1,0,0,1,0,0,0,1,0
29,19,2,0.000,0.0,0,3,3,0.0,0.0,0.0,...,1,1,0,0,0,1,0,0,1,0
30,20,2,2000.000,0.7,0,1,3,0.0,0.0,0.0,...,1,1,0,0,0,1,0,0,1,0
31,21,6,1300.000,0.9,0,1,1,8.0,10.0,7.0,...,1,1,0,0,0,1,0,0,1,2
32,30,8,2000.000,0.0,0,1,8,8.0,9.0,8.0,...,0,1,0,0,0,1,0,0,1,2
33,18,2,1600.000,0.0,0,3,2,0.0,0.0,0.0,...,0,1,0,0,0,1,0,0,1,0
34,20,8,2500.000,3.0,2,1,0,7.0,7.0,8.0,...,1,0,1,0,1,0,0,1,0,2
35,18,2,1.000,0.0,0,1,1,0.0,0.0,0.0,...,0,1,0,0,1,0,0,0,1,0
36,25,2,2.000,2.5,0,2,2,10.0,10.0,10.0,...,0,1,0,0,0,1,0,1,0,0
37,19,2,2.500,0.0,0,4,1,8.0,7.0,8.0,...,0,1,0,0,0,0,1,0,1,0
38,20,6,900.000,0.0,0,3,0,9.3,7.4,7.9,...,1,1,0,0,0,1,0,0,1,2
39,23,6,2.700,2.0,4,1,3,5.0,10.0,8.0,...,1,0,1,0,1,0,0,1,0,2
40,22,4,1.500,0.7,0,3,5,10.0,8.0,9.0,...,1,1,0,0,0,1,0,0,1,1
41,18,2,1.000,0.0,0,1,0,0.0,0.0,0.0,...,0,1,0,0,0,1,0,1,0,0
42,30,6,2.200,0.0,0,2,4,9.0,5.0,5.0,...,0,1,0,0,0,1,0,1,0,0
43,20,4,2.400,1.2,0,3,4,9.0,10.0,8.0,...,1,1,0,0,0,1,0,0,1,0
44,22,8,4.800,3.0,0,2,2,10.0,10.0,10.0,...,1,1,0,0,0,1,0,0,1,0
45,24,8,2.000,0.1,0,1,6,7.0,6.0,8.0,...,1,1,0,0,0,1,0,1,0,2
46,22,4,1.706,0.0,2,2,1,6.0,5.0,4.0,...,0,0,1,1,0,0,0,1,0,3
47,20,6,1.500,0.1,0,2,43,9.0,9.8,9.4,...,1,1,0,0,0,1,0,0,1,0
48,22,2,0.000,0.2,0,2,8,0.0,0.0,0.0,...,1,1,0,0,0,1,0,0,1,0
49,25,8,4.000,2.0,0,5,4,8.0,8.0,8.0,...,1,1,0,0,0,1,0,0,1,0
50,24,8,5268.320,4.0,0,1,2,0.0,0.0,0.0,...,1,1,0,0,0,1,0,0,1,0
51,25,8,7.200,3.0,0,1,0,0.0,0.0,0.0,...,1,1,0,0,0,1,0,0,1,0
52,23,4,1.820,1.0,0,1,3,8.0,9.0,0.0,...,1,1,0,0,0,1,0,0,1,0
53,22,8,3.500,1.5,0,1,5,9.0,8.0,8.0,...,1,1,0,0,0,1,0,0,1,0
54,26,2,2.000,0.0,0,1,0,0.0,0.0,9.0,...,0,1,0,0,0,1,0,0,1,1
55,20,2,0.000,0.7,0,1,3,0.0,0.0,0.0,...,1,1,0,0,0,1,0,0,1,0
56,27,2,0.000,0.0,0,1,2,0.0,0.0,0.0,...,0,1,0,0,0,1,0,0,1,0
57,32,8,3050.000,2.0,0,7,0,7.0,6.0,5.0,...,1,1,0,0,0,1,0,0,1,2
58,19,4,0.000,0.0,0,2,2,8.0,6.0,7.0,...,0,1,0,0,0,1,0,0,1,0
59,22,8,3300.000,1.2,0,4,10,8.9,8.9,7.8,...,1,1,0,0,0,1,0,0,1,1

In [ ]:
projectionDT #mostrando aonde estão as cluster

,x,y,cluster_pca,Idade,Semestre,Genero,Cidade,Salario,Area_preferencia,Opcao_desenvolvimento,...,Tempo_experiencia,Dependencias,Qtd_dp,Area_dp,Domina_linguagem,qtd_linguagem_domina,estrutura_dados,programacao_web,banco_dados,sistemas_operacionais
0,-2.583676,-3.228553,0,18,2,Masculino,Araras,1.000,Programacao,Desktop,...,0.0,DP_Nao,0,Nenhum,Domina_Sim,3,10.0,10.0,10.0,10.0
1,-2.026736,-4.186557,0,27,2,Masculino,Rio Claro,1600.000,Programacao,Desktop,...,0.0,DP_Nao,0,Nenhum,Domina_Sim,1,0.0,0.0,0.0,0.0
2,-0.871402,3.263777,2,21,6,Masculino,Iracemapolis,1500.000,Programacao,Web Mobile,...,0.0,DP_Sim,3,Linguagem de Programacao,Domina_Sim,3,6.0,9.0,7.0,7.0
3,-1.165333,-3.841420,0,25,2,Masculino,Leme,2200.000,Programacao,Desktop,...,2.5,DP_Nao,0,Nenhum,Domina_Sim,4,8.0,9.0,10.0,10.0
4,-3.084131,-1.281392,0,25,4,Masculino,Araras,2200.000,Programacao,Desktop,...,2.6,DP_Nao,0,Nenhum,Domina_Sim,6,10.0,0.0,8.9,8.5
5,-1.971201,3.414373,2,21,8,Masculino,Mogi-Guacu,2720.000,Banco de dados,Desktop,...,11.0,DP_Nao,0,Nenhum,Domina_Sim,2,5.0,7.0,8.0,6.0
6,0.030006,3.792921,2,20,2,Masculino,Rio Claro,0.000,Redes/ Infraestrutura,Web Mobile,...,0.7,DP_Nao,0,Nenhum,Domina_Sim,1,0.0,0.0,0.0,0.0
7,2.401192,1.819177,2,24,8,Masculino,Araras,1.000,Programacao,Web,...,1.0,DP_Sim,5,Banco de dados,Domina_Sim,3,4.0,8.0,5.0,6.0
8,-2.824927,-2.071866,0,19,2,Masculino,Limeira,2300.000,Programacao,Web Mobile,...,2.1,DP_Nao,0,Nenhum,Domina_Sim,7,0.0,0.0,0.0,0.0
9,-2.018024,-0.530779,0,22,6,Masculino,Araras,6000.000,Programacao,Web,...,1.5,DP_Nao,0,Nenhum,Domina_Sim,4,7.9,9.1,9.0,7.2
10,-1.086857,-0.816712,0,25,8,Masculino,Mogi-Guacu,2.500,Programacao,Web,...,1.4,DP_Nao,0,Nenhum,Domina_Sim,3,6.2,8.6,8.1,5.6
11,-2.504831,0.087778,0,25,8,Masculino,Araras,4.800,Programacao,Web,...,1.7,DP_Nao,0,Nenhum,Domina_Sim,1,7.8,9.0,8.6,7.0
12,-2.367761,2.950602,2,20,8,Masculino,Limeira,3500.000,Gestao,Web,...,2.0,DP_Nao,0,Nenhum,Domina_Sim,2,9.0,9.0,8.0,6.0
13,17.685289,6.025971,3,22,8,Feminino,Mogi-Mirim,2.260,Redes/ Infraestrutura,Mobile,...,4.0,DP_Sim,4,Banco de dados,Domina_Nao,1,7.0,5.0,7.0,7.0
14,-2.923063,-1.160984,0,25,8,Masculino,Araras,5.500,Programacao,Web Mobile,...,2.0,DP_Nao,0,Nenhum,Domina_Sim,7,9.6,9.6,10.0,9.4
15,0.165976,3.136639,2,20,2,Masculino,Mogi-Guacu,800.000,Banco de dados,Mobile,...,0.1,DP_Nao,0,Nenhum,Domina_Nao,1,8.0,8.0,8.0,8.0
16,-3.476870,-1.380860,0,21,8,Masculino,Prefiro nao dizer.,10000.000,Programacao,Desktop,...,2.0,DP_Nao,0,Nenhum,Domina_Sim,13,10.0,10.0,10.0,10.0
17,-2.041384,-0.032426,0,20,4,Masculino,Mogi-Guacu,600.000,Programacao,Web,...,0.1,DP_Nao,0,Nenhum,Domina_Nao,2,5.0,8.0,6.0,7.0
18,-1.879530,-0.375258,0,21,8,Masculino,Araras,800.000,Programacao,Web,...,2.0,DP_Nao,0,Nenhum,Domina_Sim,2,10.0,10.0,8.0,8.0
19,-1.629135,-0.494919,0,22,8,Masculino,Rio Claro,1000.000,Programacao,Web,...,0.4,DP_Nao,0,Nenhum,Domina_Sim,2,7.0,9.0,8.0,6.0
20,-0.521714,-2.906859,0,20,2,Masculino,Mogi-Guacu,2000.000,Programacao,Desktop,...,0.1,DP_Nao,0,Banco de dados,Domina_Sim,3,6.0,9.0,8.0,7.0
21,11.267859,-6.256919,1,21,4,Feminino,Mogi-Guacu,2000.000,Programacao,Web,...,1.0,DP_Nao,0,Nenhum,Domina_Nao,3,7.0,7.0,8.0,7.5
22,-2.066169,3.930002,2,20,6,Masculino,Mogi-Mirim,0.000,Banco de dados,Desktop,...,3.0,DP_Nao,0,Nenhum,Domina_Sim,6,0.0,0.0,0.0,0.0
23,-2.600970,0.112768,0,22,6,Masculino,Leme,1900.000,Gestao,Desktop,...,0.9,DP_Nao,0,Nenhum,Domina_Sim,2,10.0,9.0,8.0,8.0
24,-1.624567,-0.697900,0,22,4,Masculino,Rio Claro,0.000,Programacao,Web,...,0.7,DP_Nao,0,Nenhum,Domina_Sim,1,8.9,0.0,9.0,7.6
25,-2.722257,3.581200,2,20,4,Masculino,Araras,1600.000,Banco de dados,Desktop,...,1.5,DP_Nao,0,Nenhum,Domina_Sim,3,5.0,10.0,10.0,5.0
26,-0.608586,-2.499010,0,19,2,Masculino,Araras,0.000,Programacao,Web,...,0.8,DP_Nao,0,Nenhum,Domina_Sim,1,6.4,0.0,5.9,7.7
27,2.149862,5.674738,2,41,8,Masculino,Araras,3.200,Redes/ Infraestrutura,Web,...,8.0,DP_Nao,0,Nenhum,Domina_Nao,0,5.0,6.0,6.0,6.0
28,-2.326161,1.264398,0,21,8,Masculino,,10.000,Programacao,Web,...,2.0,DP_Nao,0,Linguagem de Programacao,Domina_Sim,13,10.0,10.0,10.0,10.0
29,-2.023106,-0.997569,0,19,2,Masculino,Araras,0.000,Programacao,Web,...,0.0,DP_Nao,0,Nenhum,Domina_Sim,3,0.0,0.0,0.0,0.0
30,-3.443661,-2.267590,0,20,2,Masculino,Rio Claro,2000.000,Programacao,Web Mobile,...,0.7,DP_Nao,0,Nenhum,Domina_Sim,1,0.0,0.0,0.0,0.0
31,-2.657971,3.672725,2,21,6,Masculino,Araras,1300.000,Banco de dados,Desktop,...,0.9,DP_Nao,0,Nenhum,Domina_Sim,1,7.0,8.0,10.0,7.0
32,0.404616,3.063779,2,30,8,Masculino,Araras,2000.000,Banco de dados,Mobile,...,0.0,DP_Nao,0,Nenhum,Domina_Sim,1,7.0,8.0,9.0,8.0
33,-2.026857,-0.365442,0,18,2,Masculino,Araras,1600.000,Gestao,Web,...,0.0,DP_Nao,0,Nenhum,Domina_Sim,3,0.0,0.0,0.0,0.0
34,5.059653,13.564192,2,20,8,Masculino,Limeira,2500.000,Redes/ Infraestrutura,Web,...,3.0,DP_Sim,2,Linguagem de Programacao,Domina_Nao,1,6.0,7.0,7.0,8.0
35,-1.442440,-2.444674,0,18,2,Masculino,Araras,1.000,Programacao,Desktop,...,0.0,DP_Nao,0,Linguagem de Programacao,Domina_Sim,1,0.0,0.0,0.0,0.0
36,-1.773563,-3.996364,0,25,2,Masculino,Leme,2.000,Programacao,Desktop,...,2.5,DP_Nao,0,Nenhum,Domina_Nao,2,10.0,10.0,10.0,10.0
37,-0.073887,-0.954688,0,19,2,Masculino,Limeira,2.500,Programacao,Mobile,...,0.0,DP_Nao,0,Redes/ Infraestrutura,Domina_Sim,4,7.0,8.0,7.0,8.0
38,-0.269776,4.289554,2,20,6,Masculino,Araras,900.000,Redes/ Infraestrutura,Desktop,...,0.0,DP_Nao,0,Nenhum,Domina_Sim,3,7.0,9.3,7.4,7.9
39,2.340297,12.904392,2,23,6,Masculino,Araras,2.700,Banco de dados,Web,...,2.0,DP_Sim,4,Linguagem de Programacao,Domina_Nao,1,5.0,5.0,10.0,8.0
40,12.459202,-7.017910,1,22,4,Feminino,Limeira,1.500,Programacao,Web,...,0.7,DP_Nao,0,Nenhum,Domina_Sim,3,8.0,10.0,8.0,9.0
41,-1.917652,-4.644530,0,18,2,Masculino,porto ferreira,1.000,Programacao,Desktop,...,0.0,DP_Nao,0,Nenhum,Domina_Nao,1,0.0,0.0,0.0,0.0
42,-1.034371,-2.186101,0,30,6,Masculino,Araras,2.200,Programacao,Web,...,0.0,DP_Nao,0,Nenhum,Domina_Nao,2,7.0,9.0,5.0,5.0
43,-3.107457,-1.657776,0,20,4,Masculino,Porto Ferreira,2.400,Programacao,Web Mobile,...,1.2,DP_Nao,0,Nenhum,Domina_Sim,3,9.0,9.0,10.0,8.0
44,-2.463867,0.569850,0,22,8,Masculino,Conchal,4.800,Programacao,Web,...,3.0,DP_Nao,0,Nenhum,Domina_Sim,2,10.0,10.0,10.0,10.0
45,1.683913,8.069521,2,24,8,Masculino,Conchal,2.000,Redes/ Infraestrutura,Desktop,...,0.1,DP_Nao,0,Nenhum,Domina_Nao,1,7.0,7.0,6.0,8.0
46,17.694836,2.895544,3,22,4,Feminino,Rio Claro,1.706,Redes/ Infraestrutura,Web,...,0.0,DP_Sim,2,Banco de dados,Domina_Nao,2,4.0,6.0,5.0,4.0
47,-2.115128,-0.789284,0,20,6,Masculino,Pirassununga,1.500,Programacao,Web,...,0.1,DP_Nao,0,Nenhum,Domina_Sim,2,10.0,9.0,9.8,9.4
48,-2.182422,-0.324401,0,22,2,Masculino,Cordeiropolis,0.000,Programacao,Mobile,...,0.2,DP_Nao,0,Nenhum,Domina_Sim,2,0.0,0.0,0.0,0.0
49,-2.828726,-1.406632,0,25,8,Masculino,Mogi-Guacu,4.000,Programacao,Web Mobile,...,2.0,DP_Nao,0,Nenhum,Domina_Sim,5,8.0,8.0,8.0,8.0
50,-2.084133,-0.485779,0,24,8,Masculino,Iracemapolis,5268.320,Programacao,Web,...,4.0,DP_Nao,0,Nenhum,Domina_Sim,1,0.0,0.0,0.0,0.0
51,-2.743230,-0.281655,0,25,8,Masculino,Pirassununga,7.200,Programacao,Web,...,3.0,DP_Nao,0,Nenhum,Domina_Sim,1,0.0,0.0,0.0,0.0
52,-2.138276,-1.774452,0,23,4,Masculino,Mogi-Guacu,1.820,Programacao,Web Mobile,...,1.0,DP_Nao,0,Nenhum,Domina_Sim,1,7.0,8.0,9.0,0.0
53,-2.516160,0.043181,0,22,8,Masculino,Araras,3.500,Programacao,Web,...,1.5,DP_Nao,0,Nenhum,Domina_Sim,1,5.0,9.0,8.0,8.0
54,12.258495,-10.681835,1,26,2,Feminino,Araras,2.000,Programacao,Desktop,...,0.0,DP_Nao,0,Nenhum,Domina_Sim,1,0.0,0.0,0.0,9.0
55,-3.938806,-3.041018,0,20,2,Masculino,Rio Claro,0.000,Programacao,Web Mobile,...,0.7,DP_Nao,0,Nenhum,Domina_Sim,1,0.0,0.0,0.0,0.0
56,-1.268615,-4.344053,0,27,2,Masculino,Rio Claro,0.000,Programacao,Desktop,...,0.0,DP_Nao,0,Nenhum,Domina_Sim,1,0.0,0.0,0.0,0.0
57,-2.006104,2.797274,2,32,8,Masculino,Araras,3050.000,Gestao,Web,...,2.0,DP_Nao,0,Nenhum,Domina_Sim,7,5.0,7.0,6.0,5.0
58,-2.460131,-2.895947,0,19,4,Masculino,Araras,0.000,Programacao,Desktop,...,0.0,DP_Nao,0,Nenhum,Domina_Sim,2,7.0,8.0,6.0,7.0
59,9.840427,-6.604240,1,22,8,Feminino,Porto Ferreira,3300.000,Programacao,Desktop,...,1.2,DP_Nao,0,Nenhum,Domina_Sim,4,8.4,8.9,8.9,7.8

# Criação do Perfil

## Cluster 0

### Definindo a porcentagem de similaridade

Isolando os cluster gerados

In [ ]:
Cluster0 = projectionDT.query('cluster_pca == 0' )
Cluster0.head(3)

### Isolamento da variavel e agrupa

Inicia Dataframe que armeza todos os regsitros

In [ ]:
DataframeTodos = pd.DataFrame(columns = [], data= {})
DataframeTodos

### Idade

Agrupado os dados pela coluna escolhida e adiciona em um dataframe

In [ ]:
Similaridade0 = Cluster0.groupby('Idade').size().reset_index()  
Similaridade0 = Similaridade0.rename(columns  = {'Idade': 'Descricao', 0: 'valor'})
Similaridade0
#Descricao: dado analizado
#valor: quantidade de vezes em que o dado se repete - contado usando size()

Seleciona o registro que mais se repete, aquele que tem na coluna 'valor' maior numero

In [ ]:
Similaridade00 = Similaridade0[Similaridade0.valor == Similaridade0['valor'].max()]
Similaridade00 = Similaridade00.max()
Similaridade00

dado_coluna armazena a legenda do registro que mais se repete

In [ ]:
dado_coluna = Similaridade00['Descricao']
dado_coluna

n_max armazena o numero de vezes que o registro se repete

In [ ]:
n_max = Similaridade00['valor']
n_max

conta o total de registro existente no cluster

In [ ]:
total = Cluster0['Idade'].count()
total

armazena os dados em um dataframe, contendo descricao, quantidade maxima, quantidade total e porcenatgem

In [ ]:
DataframeTodos = pd.DataFrame((dado_coluna, n_max, total, round(100/total*n_max,2)), columns =['Idade'])
DataframeTodos

### Semestre

In [ ]:
Similaridade0 = Cluster0.groupby('Semestre').size().reset_index()
Similaridade0 = Similaridade0.rename(columns  = {'Semestre': 'Descricao', 0: 'valor'})
Similaridade0

   Descricao  valor
0          2     16
1          4      6
2          6      4
3          8     12

In [ ]:
Similaridade00 = Similaridade0[Similaridade0.valor == Similaridade0['valor'].max()]
Similaridade00 = Similaridade00.max()
Similaridade00


dado_coluna = Similaridade00['Descricao']
dado_coluna


n_max = Similaridade00['valor']
n_max

total = Cluster0['Semestre'].count()
total

DataframeTodos.insert(1, 'Semestre', [dado_coluna, n_max, total, round(100/total*n_max,2)])
DataframeTodos

   Idade  Semestre
0  25.00      2.00
1   8.00     16.00
2  38.00     38.00
3  21.05     42.11

### Genero

In [ ]:
Similaridade0 = Cluster0.groupby('Genero').size().reset_index()
Similaridade0 = Similaridade0.rename(columns  = {'Genero': 'Descricao', 0: 'valor'})
Similaridade0

   Descricao  valor
0  Masculino     38

In [ ]:
Similaridade00 = Similaridade0[Similaridade0.valor == Similaridade0['valor'].max()]
Similaridade00 = Similaridade00.max()
Similaridade00


dado_coluna = Similaridade00['Descricao']
dado_coluna


n_max = Similaridade00['valor']
n_max

total = Cluster0['Genero'].count()
total

DataframeTodos.insert(2, 'Genero', [dado_coluna,n_max, total, round(100/total*n_max,2)])
DataframeTodos

   Idade  Semestre     Genero
0  25.00      2.00  Masculino
1   8.00     16.00         38
2  38.00     38.00         38
3  21.05     42.11      100.0

### Cidade

In [ ]:
Similaridade0 = Cluster0.groupby('Cidade').size().reset_index()
Similaridade0 = Similaridade0.rename(columns  = {'Cidade': 'Descricao', 0: 'valor'})
Similaridade0

             Descricao  valor
0                           1
1               Araras     11
2              Araras       2
3              Conchal      1
4       Cordeiropolis       1
5        Iracemapolis       1
6                 Leme      3
7              Limeira      1
8             Limeira       1
9           Mogi-Guacu      5
10        Pirassununga      2
11     Porto Ferreira       1
12  Prefiro nao dizer.      1
13           Rio Claro      3
14          Rio Claro       3
15      porto ferreira      1

In [ ]:
Similaridade00 = Similaridade0[Similaridade0.valor == Similaridade0['valor'].max()]
Similaridade00 = Similaridade00.max()
Similaridade00


dado_coluna = Similaridade00['Descricao']
dado_coluna


n_max = Similaridade00['valor']
n_max

total = Cluster0['Cidade'].count()
total

DataframeTodos.insert(3, 'Cidade', [dado_coluna,n_max, total, round(100/total*n_max,2)])
DataframeTodos

   Idade  Semestre     Genero  Cidade
0  25.00      2.00  Masculino  Araras
1   8.00     16.00         38      11
2  38.00     38.00         38      38
3  21.05     42.11      100.0   28.95

### Salario

In [ ]:
Similaridade0 = Cluster0.groupby('Salario').size().reset_index()
Similaridade0 = Similaridade0.rename(columns  = {'Salario': 'Descricao', 0: 'valor'})
Similaridade0

    Descricao  valor
0        0.00      7
1        1.00      3
2        1.50      1
3        1.82      1
4        2.00      1
5        2.20      1
6        2.40      1
7        2.50      2
8        3.50      1
9        4.00      1
10       4.80      2
11       5.50      1
12       7.20      1
13      10.00      1
14     600.00      1
15     800.00      1
16    1000.00      1
17    1600.00      2
18    1900.00      1
19    2000.00      2
20    2200.00      2
21    2300.00      1
22    5268.32      1
23    6000.00      1
24   10000.00      1

In [ ]:
Similaridade00 = Similaridade0[Similaridade0.valor == Similaridade0['valor'].max()]
Similaridade00 = Similaridade00.max()
Similaridade00


dado_coluna = Similaridade00['Descricao']
dado_coluna


n_max = Similaridade00['valor']
n_max

total = Cluster0['Salario'].count()
total


DataframeTodos.insert(4, 'Salario', [dado_coluna,n_max, total, round(100/total*n_max,2)])
DataframeTodos

   Idade  Semestre     Genero  Cidade  Salario
0  25.00      2.00  Masculino  Araras     0.00
1   8.00     16.00         38      11     7.00
2  38.00     38.00         38      38    38.00
3  21.05     42.11      100.0   28.95    18.42

### Area_preferencia

In [ ]:
Similaridade0 = Cluster0.groupby('Area_preferencia').size().reset_index()
Similaridade0 = Similaridade0.rename(columns  = {'Area_preferencia': 'Descricao', 0: 'valor'})
Similaridade0

        Descricao  valor
0        Gestao        2
1   Programacao       36

In [ ]:
Similaridade00 = Similaridade0[Similaridade0.valor == Similaridade0['valor'].max()]
Similaridade00 = Similaridade00.max()
Similaridade00


dado_coluna = Similaridade00['Descricao']
dado_coluna


n_max = Similaridade00['valor']
n_max

total = Cluster0['Area_preferencia'].count()
total

DataframeTodos.insert(5, 'Area_preferencia', [dado_coluna,n_max, total, round(100/total*n_max,2)])
DataframeTodos

   Idade  Semestre     Genero  Cidade  Salario Area_preferencia
0  25.00      2.00  Masculino  Araras     0.00    Programacao
1   8.00     16.00         38      11     7.00               36
2  38.00     38.00         38      38    38.00               38
3  21.05     42.11      100.0   28.95    18.42            94.74

### Opcao_desenvolvimento

In [ ]:
#Similaridade0 = Cluster0.groupby('opcao_desenvolvimento').size().reset_index()
#Similaridade0 = Similaridade0.rename(columns  = {'opcao_desenvolvimento': 'Descricao', 0: 'valor'})
#Similaridade0

In [ ]:
#Similaridade00 = Similaridade0[Similaridade0.valor == Similaridade0['valor'].max()]
#Similaridade00 = Similaridade00.max()
#Similaridade00


#dado_coluna = Similaridade00['Descricao']
#dado_coluna


#n_max = Similaridade00['valor']
#n_max

#total = Cluster0['opcao_desenvolvimento'].count()
#total

#DataframeTodos.insert(6, 'opcao_desenvolvimento', [dado_coluna,n_max, total, round(100/total*n_max,2)])
#DataframeTodos

### Trabalha_area

In [ ]:
Similaridade0 = Cluster0.groupby('Trabalha_area').size().reset_index()
Similaridade0 = Similaridade0.rename(columns  = {'Trabalha_area': 'Descricao', 0: 'valor'})
Similaridade0

  Descricao  valor
0     Nao       14
1     Sim       24

In [ ]:
Similaridade00 = Similaridade0[Similaridade0.valor == Similaridade0['valor'].max()]
Similaridade00 = Similaridade00.max()
Similaridade00


dado_coluna = Similaridade00['Descricao']
dado_coluna


n_max = Similaridade00['valor']
n_max

total = Cluster0['Trabalha_area'].count()
total

DataframeTodos.insert(6, 'Trabalha_area', [dado_coluna,n_max, total, round(100/total*n_max,2)])
DataframeTodos

   Idade  Semestre     Genero  Cidade  Salario Area_preferencia Trabalha_area
0  25.00      2.00  Masculino  Araras     0.00    Programacao           Sim
1   8.00     16.00         38      11     7.00               36            24
2  38.00     38.00         38      38    38.00               38            38
3  21.05     42.11      100.0   28.95    18.42            94.74         63.16

### Tempo_experiencia

In [ ]:
Similaridade0 = Cluster0.groupby('Tempo_experiencia').size().reset_index()
Similaridade0 = Similaridade0.rename(columns  = {'Tempo_experiencia': 'Descricao', 0: 'valor'})
Similaridade0

    Descricao  valor
0         0.0     10
1         0.1      3
2         0.2      1
3         0.4      1
4         0.7      3
5         0.8      1
6         0.9      1
7         1.0      1
8         1.2      1
9         1.4      1
10        1.5      2
11        1.7      1
12        2.0      5
13        2.1      1
14        2.5      2
15        2.6      1
16        3.0      2
17        4.0      1

In [ ]:
Similaridade00 = Similaridade0[Similaridade0.valor == Similaridade0['valor'].max()]
Similaridade00 = Similaridade00.max()
Similaridade00


dado_coluna = Similaridade00['Descricao']
dado_coluna


n_max = Similaridade00['valor']
n_max

total = Cluster0['Tempo_experiencia'].count()
total

DataframeTodos.insert(7, 'Tempo_experiencia', [dado_coluna,n_max, total, round(100/total*n_max,2)])
DataframeTodos

,Idade,Semestre,Genero,Cidade,Salario,Area_preferencia,Trabalha_area,Tempo_experiencia
0,25.00,2.00,Masculino,Araras,0.00,Programacao,Sim,0.00
1,8.00,16.00,38,11,7.00,36,24,10.00
2,38.00,38.00,38,38,38.00,38,38,38.00
3,21.05,42.11,100.0,28.95,18.42,94.74,63.16,26.32

### Dependencias

In [ ]:
Similaridade0 = Cluster0.groupby('Dependencias').size().reset_index()
Similaridade0 = Similaridade0.rename(columns  = {'Dependencias': 'Descricao', 0: 'valor'})
Similaridade0

  Descricao  valor
0    DP_Nao     38

In [ ]:
Similaridade00 = Similaridade0[Similaridade0.valor == Similaridade0['valor'].max()]
Similaridade00 = Similaridade00.max()
Similaridade00


dado_coluna = Similaridade00['Descricao']
dado_coluna


n_max = Similaridade00['valor']
n_max

total = Cluster0['Dependencias'].count()
total

DataframeTodos.insert(8, 'Dependencias', [dado_coluna,n_max, total, round(100/total*n_max,2)])
DataframeTodos

,Idade,Semestre,Genero,Cidade,Salario,Area_preferencia,Trabalha_area,Tempo_experiencia,Dependencias
0,25.00,2.00,Masculino,Araras,0.00,Programacao,Sim,0.00,DP_Nao
1,8.00,16.00,38,11,7.00,36,24,10.00,38
2,38.00,38.00,38,38,38.00,38,38,38.00,38
3,21.05,42.11,100.0,28.95,18.42,94.74,63.16,26.32,100.0

### Domina_linguagem

In [ ]:
Similaridade0 = Cluster0.groupby('Domina_linguagem').size().reset_index()
Similaridade0 = Similaridade0.rename(columns  = {'Domina_linguagem': 'Descricao', 0: 'valor'})
Similaridade0

    Descricao  valor
0  Domina_Nao      4
1  Domina_Sim     34

In [ ]:
Similaridade00 = Similaridade0[Similaridade0.valor == Similaridade0['valor'].max()]
Similaridade00 = Similaridade00.max()
Similaridade00


dado_coluna = Similaridade00['Descricao']
dado_coluna


n_max = Similaridade00['valor']
n_max

total = Cluster0['Domina_linguagem'].count()
total

DataframeTodos.insert(9, 'Domina_linguagem', [dado_coluna,n_max, total, round(100/total*n_max,2)])
DataframeTodos

,Idade,Semestre,Genero,Cidade,Salario,Area_preferencia,Trabalha_area,Tempo_experiencia,Dependencias,Domina_linguagem
0,25.00,2.00,Masculino,Araras,0.00,Programacao,Sim,0.00,DP_Nao,Domina_Sim
1,8.00,16.00,38,11,7.00,36,24,10.00,38,34
2,38.00,38.00,38,38,38.00,38,38,38.00,38,38
3,21.05,42.11,100.0,28.95,18.42,94.74,63.16,26.32,100.0,89.47

### Qtd_dp

In [ ]:
Similaridade0 = Cluster0.groupby('Qtd_dp').size().reset_index()
Similaridade0 = Similaridade0.rename(columns  = {'Qtd_dp': 'Descricao', 0: 'valor'})
Similaridade0

   Descricao  valor
0          0     38

In [ ]:
Similaridade00 = Similaridade0[Similaridade0.valor == Similaridade0['valor'].max()]
Similaridade00 = Similaridade00.max()
Similaridade00


dado_coluna = Similaridade00['Descricao']
dado_coluna


n_max = Similaridade00['valor']
n_max

total = Cluster0['Qtd_dp'].count()
total

DataframeTodos.insert(10, 'Qtd_dp', [dado_coluna,n_max, total, round(100/total*n_max,2)])
DataframeTodos

,Idade,Semestre,Genero,Cidade,Salario,Area_preferencia,Trabalha_area,Tempo_experiencia,Dependencias,Domina_linguagem,Qtd_dp
0,25.00,2.00,Masculino,Araras,0.00,Programacao,Sim,0.00,DP_Nao,Domina_Sim,0.0
1,8.00,16.00,38,11,7.00,36,24,10.00,38,34,38.0
2,38.00,38.00,38,38,38.00,38,38,38.00,38,38,38.0
3,21.05,42.11,100.0,28.95,18.42,94.74,63.16,26.32,100.0,89.47,100.0

### Notas estrutura_dados

In [ ]:
#Similaridade0 = Cluster0.groupby('estrutura_dados').size().reset_index()
#Similaridade0 = Similaridade0.rename(columns  = {'estrutura_dados': 'Descricao', 0: 'valor'})
#Similaridade0

In [ ]:

#Similaridade00 = Similaridade0[Similaridade0.valor == Similaridade0['valor'].max()]
#Similaridade00 = Similaridade00.max()
#Similaridade00


#dado_coluna = Similaridade00['Descricao']
#dado_coluna


#n_max = Similaridade00['valor']
#n_max

#total = Cluster0['estrutura_dados'].count()
#total

#Dataframe = dado_coluna, n_max, total,round(100/total*n_max,2)
#Dataframe

# Cluster 1

In [ ]:
# Definindo a porcentagem de similaridade
Cluster1 = projectionDT.query('cluster_pca == 1' )
Cluster1.head(3)

# Isolamento da variavel e agrupa
DataframeTodos_Cluster1 = pd.DataFrame(columns = [], data= {})
DataframeTodos_Cluster1

Empty DataFrame
Columns: []
Index: []

In [ ]:
# Idade
Similaridade1 = Cluster1.groupby('Idade').size().reset_index()
Similaridade1 = Similaridade1.rename(columns  = {'Idade': 'Descricao', 0: 'valor'})
Similaridade1

Similaridade11 = Similaridade1[Similaridade1.valor == Similaridade1['valor'].max()]
Similaridade11 = Similaridade11.max()
Similaridade11


dado_coluna = Similaridade11['Descricao']
dado_coluna


n_max = Similaridade11['valor']
n_max

total = Cluster1['Idade'].count()
total

DataframeTodos_Cluster1 = pd.DataFrame((dado_coluna, n_max, total, round(100/total*n_max,2)), columns = ['Idade'])
DataframeTodos_Cluster1

   Idade
0   22.0
1    2.0
2    4.0
3   50.0

In [ ]:
# Semestre
Similaridade1 = Cluster1.groupby('Semestre').size().reset_index()
Similaridade1 = Similaridade1.rename(columns  = {'Semestre': 'Descricao', 0: 'valor'})
Similaridade1

Similaridade11 = Similaridade1[Similaridade1.valor == Similaridade1['valor'].max()]
Similaridade11 = Similaridade11.max()
Similaridade11


dado_coluna = Similaridade11['Descricao']
dado_coluna


n_max = Similaridade11['valor']
n_max

total = Cluster1['Semestre'].count()
total

DataframeTodos_Cluster1.insert(1, 'Semestre', [dado_coluna, n_max, total, round(100/total*n_max,2)])
DataframeTodos_Cluster1

   Idade  Semestre
0   22.0       4.0
1    2.0       2.0
2    4.0       4.0
3   50.0      50.0

In [ ]:
# Genero
Similaridade1 = Cluster1.groupby('Genero').size().reset_index()
Similaridade1 = Similaridade1.rename(columns  = {'Genero': 'Descricao', 0: 'valor'})
Similaridade1

Similaridade11 = Similaridade1[Similaridade1.valor == Similaridade1['valor'].max()]
Similaridade11 = Similaridade11.max()
Similaridade11


dado_coluna = Similaridade11['Descricao']
dado_coluna


n_max = Similaridade11['valor']
n_max

total = Cluster1['Genero'].count()
total

DataframeTodos_Cluster1.insert(2, 'Genero', [dado_coluna, n_max, total, round(100/total*n_max,2)])
DataframeTodos_Cluster1

   Idade  Semestre    Genero
0   22.0       4.0  Feminino
1    2.0       2.0         4
2    4.0       4.0         4
3   50.0      50.0     100.0

In [ ]:
# Cidade
Similaridade1 = Cluster1.groupby('Cidade').size().reset_index()
Similaridade1 = Similaridade1.rename(columns  = {'Cidade': 'Descricao', 0: 'valor'})
Similaridade1

Similaridade11 = Similaridade1[Similaridade1.valor == Similaridade1['valor'].max()]
Similaridade11 = Similaridade11.max()
Similaridade11


dado_coluna = Similaridade11['Descricao']
dado_coluna


n_max = Similaridade11['valor']
n_max

total = Cluster1['Cidade'].count()
total

DataframeTodos_Cluster1.insert(3, 'Cidade', [dado_coluna, n_max, total, round(100/total*n_max,2)])
DataframeTodos_Cluster1

   Idade  Semestre    Genero          Cidade
0   22.0       4.0  Feminino  Porto Ferreira
1    2.0       2.0         4               1
2    4.0       4.0         4               4
3   50.0      50.0     100.0            25.0

In [ ]:
# Salario
Similaridade1 = Cluster1.groupby('Salario').size().reset_index()
Similaridade1 = Similaridade1.rename(columns  = {'Salario': 'Descricao', 0: 'valor'})
Similaridade1

Similaridade11 = Similaridade1[Similaridade1.valor == Similaridade1['valor'].max()]
Similaridade11 = Similaridade11.max()
Similaridade11


dado_coluna = Similaridade11['Descricao']
dado_coluna


n_max = Similaridade11['valor']
n_max

total = Cluster1['Salario'].count()
total

DataframeTodos_Cluster1.insert(4, 'Salario', [dado_coluna, n_max, total, round(100/total*n_max,2)])
DataframeTodos_Cluster1

   Idade  Semestre    Genero          Cidade  Salario
0   22.0       4.0  Feminino  Porto Ferreira   3300.0
1    2.0       2.0         4               1      1.0
2    4.0       4.0         4               4      4.0
3   50.0      50.0     100.0            25.0     25.0

In [ ]:
# Area_preferencia
Similaridade1 = Cluster1.groupby('Area_preferencia').size().reset_index()
Similaridade1 = Similaridade1.rename(columns  = {'Area_preferencia': 'Descricao', 0: 'valor'})
Similaridade1

Similaridade11 = Similaridade1[Similaridade1.valor == Similaridade1['valor'].max()]
Similaridade11 = Similaridade11.max()
Similaridade11


dado_coluna = Similaridade11['Descricao']
dado_coluna


n_max = Similaridade11['valor']
n_max

total = Cluster1['Area_preferencia'].count()
total

DataframeTodos_Cluster1.insert(5, 'Area_preferencia', [dado_coluna, n_max, total, round(100/total*n_max,2)])
DataframeTodos_Cluster1

   Idade  Semestre    Genero          Cidade  Salario Area_preferencia
0   22.0       4.0  Feminino  Porto Ferreira   3300.0    Programacao
1    2.0       2.0         4               1      1.0                4
2    4.0       4.0         4               4      4.0                4
3   50.0      50.0     100.0            25.0     25.0            100.0

In [ ]:
# Trabalha_area
Similaridade1 = Cluster1.groupby('Trabalha_area').size().reset_index()
Similaridade1 = Similaridade1.rename(columns  = {'Trabalha_area': 'Descricao', 0: 'valor'})
Similaridade1

Similaridade11 = Similaridade1[Similaridade1.valor == Similaridade1['valor'].max()]
Similaridade11 = Similaridade11.max()
Similaridade11


dado_coluna = Similaridade11['Descricao']
dado_coluna


n_max = Similaridade11['valor']
n_max

total = Cluster1['Trabalha_area'].count()
total

DataframeTodos_Cluster1.insert(6, 'Trabalha_area', [dado_coluna, n_max, total, round(100/total*n_max,2)])
DataframeTodos_Cluster1

,Idade,Semestre,Genero,Cidade,Salario,Area_preferencia,Trabalha_area
0,22.0,4.0,Feminino,Porto Ferreira,3300.0,Programacao,Sim
1,2.0,2.0,4,1,1.0,4,2
2,4.0,4.0,4,4,4.0,4,4
3,50.0,50.0,100.0,25.0,25.0,100.0,50.0

In [ ]:
# Tempo_experiencia
Similaridade1 = Cluster1.groupby('Tempo_experiencia').size().reset_index()
Similaridade1 = Similaridade1.rename(columns  = {'Tempo_experiencia': 'Descricao', 0: 'valor'})
Similaridade1

Similaridade11 = Similaridade1[Similaridade1.valor == Similaridade1['valor'].max()]
Similaridade11 = Similaridade11.max()
Similaridade11


dado_coluna = Similaridade11['Descricao']
dado_coluna


n_max = Similaridade11['valor']
n_max

total = Cluster1['Tempo_experiencia'].count()
total

DataframeTodos_Cluster1.insert(7, 'Tempo_experiencia', [dado_coluna, n_max, total, round(100/total*n_max,2)])
DataframeTodos_Cluster1

,Idade,Semestre,Genero,Cidade,Salario,Area_preferencia,Trabalha_area,Tempo_experiencia
0,22.0,4.0,Feminino,Porto Ferreira,3300.0,Programacao,Sim,1.2
1,2.0,2.0,4,1,1.0,4,2,1.0
2,4.0,4.0,4,4,4.0,4,4,4.0
3,50.0,50.0,100.0,25.0,25.0,100.0,50.0,25.0

In [ ]:
# Dependencias
Similaridade1 = Cluster1.groupby('Dependencias').size().reset_index()
Similaridade1 = Similaridade1.rename(columns  = {'Dependencias': 'Descricao', 0: 'valor'})
Similaridade1

Similaridade11 = Similaridade1[Similaridade1.valor == Similaridade1['valor'].max()]
Similaridade11 = Similaridade11.max()
Similaridade11


dado_coluna = Similaridade11['Descricao']
dado_coluna


n_max = Similaridade11['valor']
n_max

total = Cluster1['Dependencias'].count()
total

DataframeTodos_Cluster1.insert(8, 'Dependencias', [dado_coluna, n_max, total, round(100/total*n_max,2)])
DataframeTodos_Cluster1

,Idade,Semestre,Genero,Cidade,Salario,Area_preferencia,Trabalha_area,Tempo_experiencia,Dependencias
0,22.0,4.0,Feminino,Porto Ferreira,3300.0,Programacao,Sim,1.2,DP_Nao
1,2.0,2.0,4,1,1.0,4,2,1.0,4
2,4.0,4.0,4,4,4.0,4,4,4.0,4
3,50.0,50.0,100.0,25.0,25.0,100.0,50.0,25.0,100.0

In [ ]:
# Domina_linguagem
Similaridade1 = Cluster1.groupby('Domina_linguagem').size().reset_index()
Similaridade1 = Similaridade1.rename(columns  = {'Domina_linguagem': 'Descricao', 0: 'valor'})
Similaridade1

Similaridade11 = Similaridade1[Similaridade1.valor == Similaridade1['valor'].max()]
Similaridade11 = Similaridade11.max()
Similaridade11


dado_coluna = Similaridade11['Descricao']
dado_coluna


n_max = Similaridade11['valor']
n_max

total = Cluster1['Domina_linguagem'].count()
total

DataframeTodos_Cluster1.insert(9, 'Domina_linguagem', [dado_coluna, n_max, total, round(100/total*n_max,2)])
DataframeTodos_Cluster1

,Idade,Semestre,Genero,Cidade,Salario,Area_preferencia,Trabalha_area,Tempo_experiencia,Dependencias,Domina_linguagem
0,22.0,4.0,Feminino,Porto Ferreira,3300.0,Programacao,Sim,1.2,DP_Nao,Domina_Sim
1,2.0,2.0,4,1,1.0,4,2,1.0,4,3
2,4.0,4.0,4,4,4.0,4,4,4.0,4,4
3,50.0,50.0,100.0,25.0,25.0,100.0,50.0,25.0,100.0,75.0

In [ ]:
# Qtd_dp
Similaridade1 = Cluster1.groupby('Qtd_dp').size().reset_index()
Similaridade1 = Similaridade1.rename(columns  = {'Qtd_dp': 'Descricao', 0: 'valor'})
Similaridade1

Similaridade11 = Similaridade1[Similaridade1.valor == Similaridade1['valor'].max()]
Similaridade11 = Similaridade11.max()
Similaridade11


dado_coluna = Similaridade11['Descricao']
dado_coluna


n_max = Similaridade11['valor']
n_max

total = Cluster1['Qtd_dp'].count()
total

DataframeTodos_Cluster1.insert(10, 'Qtd_dp', [dado_coluna, n_max, total, round(100/total*n_max,2)])
DataframeTodos_Cluster1

,Idade,Semestre,Genero,Cidade,Salario,Area_preferencia,Trabalha_area,Tempo_experiencia,Dependencias,Domina_linguagem,Qtd_dp
0,22.0,4.0,Feminino,Porto Ferreira,3300.0,Programacao,Sim,1.2,DP_Nao,Domina_Sim,0.0
1,2.0,2.0,4,1,1.0,4,2,1.0,4,3,4.0
2,4.0,4.0,4,4,4.0,4,4,4.0,4,4,4.0
3,50.0,50.0,100.0,25.0,25.0,100.0,50.0,25.0,100.0,75.0,100.0

# Cluster 2

In [ ]:
# Definindo a porcentagem de similaridade
Cluster2 = projectionDT.query('cluster_pca == 2' )
Cluster2.head(3)

# Isolamento da variavel e agrupa
DataframeTodos_Cluster2 = pd.DataFrame(columns = [], data= {})
DataframeTodos_Cluster2

Empty DataFrame
Columns: []
Index: []

In [ ]:
# Idade
Similaridade2 = Cluster2.groupby('Idade').size().reset_index()
Similaridade2 = Similaridade2.rename(columns  = {'Idade': 'Descricao', 0: 'valor'})
Similaridade2

Similaridade22 = Similaridade2[Similaridade2.valor == Similaridade2['valor'].max()]
Similaridade22 = Similaridade22.max()
Similaridade22


dado_coluna = Similaridade22['Descricao']
dado_coluna


n_max = Similaridade22['valor']
n_max

total = Cluster2['Idade'].count()
total

DataframeTodos_Cluster2 = pd.DataFrame((dado_coluna, n_max, total, round(100/total*n_max,2)), columns =['Idade'])
DataframeTodos_Cluster2


# Semestre
Similaridade2 = Cluster2.groupby('Semestre').size().reset_index()
Similaridade2 = Similaridade2.rename(columns  = {'Semestre': 'Descricao', 0: 'valor'})
Similaridade2

Similaridade22 = Similaridade2[Similaridade2.valor == Similaridade2['valor'].max()]
Similaridade22 = Similaridade22.max()
Similaridade22


dado_coluna = Similaridade22['Descricao']
dado_coluna


n_max = Similaridade22['valor']
n_max

total = Cluster2['Semestre'].count()
total

DataframeTodos_Cluster2.insert(1, 'Semestre', [dado_coluna, n_max, total, round(100/total*n_max,2)])
DataframeTodos_Cluster2


# Genero
Similaridade2 = Cluster2.groupby('Genero').size().reset_index()
Similaridade2 = Similaridade2.rename(columns  = {'Genero': 'Descricao', 0: 'valor'})
Similaridade2

Similaridade22 = Similaridade2[Similaridade2.valor == Similaridade2['valor'].max()]
Similaridade22 = Similaridade22.max()
Similaridade22


dado_coluna = Similaridade22['Descricao']
dado_coluna


n_max = Similaridade22['valor']
n_max

total = Cluster2['Genero'].count()
total

DataframeTodos_Cluster2.insert(2, 'Genero', [dado_coluna, n_max, total, round(100/total*n_max,2)])
DataframeTodos_Cluster2



# Cidade
Similaridade2 = Cluster2.groupby('Cidade').size().reset_index()
Similaridade2 = Similaridade2.rename(columns  = {'Cidade': 'Descricao', 0: 'valor'})
Similaridade2

Similaridade22 = Similaridade2[Similaridade2.valor == Similaridade2['valor'].max()]
Similaridade22 = Similaridade22.max()
Similaridade22


dado_coluna = Similaridade22['Descricao']
dado_coluna


n_max = Similaridade22['valor']
n_max

total = Cluster2['Cidade'].count()
total

DataframeTodos_Cluster2.insert(3, 'Cidade', [dado_coluna, n_max, total, round(100/total*n_max,2)])
DataframeTodos_Cluster2



# Salario
Similaridade2 = Cluster2.groupby('Salario').size().reset_index()
Similaridade2 = Similaridade2.rename(columns  = {'Salario': 'Descricao', 0: 'valor'})
Similaridade2

Similaridade22 = Similaridade2[Similaridade2.valor == Similaridade2['valor'].max()]
Similaridade22 = Similaridade22.max()
Similaridade22


dado_coluna = Similaridade22['Descricao']
dado_coluna


n_max = Similaridade22['valor']
n_max

total = Cluster2['Salario'].count()
total

DataframeTodos_Cluster2.insert(4, 'Salario', [dado_coluna, n_max, total, round(100/total*n_max,2)])
DataframeTodos_Cluster2



# Area_preferencia
Similaridade2 = Cluster2.groupby('Area_preferencia').size().reset_index()
Similaridade2 = Similaridade2.rename(columns  = {'Area_preferencia': 'Descricao', 0: 'valor'})
Similaridade2

Similaridade22 = Similaridade2[Similaridade2.valor == Similaridade2['valor'].max()]
Similaridade22 = Similaridade22.max()
Similaridade22


dado_coluna = Similaridade22['Descricao']
dado_coluna


n_max = Similaridade22['valor']
n_max

total = Cluster2['Area_preferencia'].count()
total

DataframeTodos_Cluster2.insert(5, 'Area_preferencia', [dado_coluna, n_max, total, round(100/total*n_max,2)])
DataframeTodos_Cluster2



# trabalha_area
Similaridade2 = Cluster2.groupby('Trabalha_area').size().reset_index()
Similaridade2 = Similaridade2.rename(columns  = {'Trabalha_area': 'Descricao', 0: 'valor'})
Similaridade2

Similaridade22 = Similaridade2[Similaridade2.valor == Similaridade2['valor'].max()]
Similaridade22 = Similaridade22.max()
Similaridade22


dado_coluna = Similaridade22['Descricao']
dado_coluna


n_max = Similaridade22['valor']
n_max

total = Cluster2['Trabalha_area'].count()
total

DataframeTodos_Cluster2.insert(6, 'Trabalha_area', [dado_coluna, n_max, total, round(100/total*n_max,2)])
DataframeTodos_Cluster2



# Tempo_experiencia
Similaridade2 = Cluster2.groupby('Tempo_experiencia').size().reset_index()
Similaridade2 = Similaridade2.rename(columns  = {'Tempo_experiencia': 'Descricao', 0: 'valor'})
Similaridade2

Similaridade22 = Similaridade2[Similaridade2.valor == Similaridade2['valor'].max()]
Similaridade22 = Similaridade22.max()
Similaridade22


dado_coluna = Similaridade22['Descricao']
dado_coluna


n_max = Similaridade22['valor']
n_max

total = Cluster2['Tempo_experiencia'].count()
total

DataframeTodos_Cluster2.insert(7, 'Tempo_experiencia', [dado_coluna, n_max, total, round(100/total*n_max,2)])
DataframeTodos_Cluster2



# Dependencias
Similaridade2 = Cluster2.groupby('Dependencias').size().reset_index()
Similaridade2 = Similaridade2.rename(columns  = {'Dependencias': 'Descricao', 0: 'valor'})
Similaridade2

Similaridade22 = Similaridade2[Similaridade2.valor == Similaridade2['valor'].max()]
Similaridade22 = Similaridade22.max()
Similaridade22


dado_coluna = Similaridade22['Descricao']
dado_coluna


n_max = Similaridade22['valor']
n_max

total = Cluster2['Dependencias'].count()
total

DataframeTodos_Cluster2.insert(8, 'Dependencias', [dado_coluna, n_max, total, round(100/total*n_max,2)])
DataframeTodos_Cluster2



# Domina_linguagem
Similaridade2 = Cluster2.groupby('Domina_linguagem').size().reset_index()
Similaridade2 = Similaridade2.rename(columns  = {'Domina_linguagem': 'Descricao', 0: 'valor'})
Similaridade2

Similaridade22 = Similaridade2[Similaridade2.valor == Similaridade2['valor'].max()]
Similaridade22 = Similaridade22.max()
Similaridade22


dado_coluna = Similaridade22['Descricao']
dado_coluna


n_max = Similaridade22['valor']
n_max

total = Cluster2['Domina_linguagem'].count()
total

DataframeTodos_Cluster2.insert(9, 'Domina_linguagem', [dado_coluna, n_max, total, round(100/total*n_max,2)])
DataframeTodos_Cluster2



# Qtd_dp
Similaridade2 = Cluster2.groupby('Qtd_dp').size().reset_index()
Similaridade2 = Similaridade2.rename(columns  = {'Qtd_dp': 'Descricao', 0: 'valor'})
Similaridade2

Similaridade22 = Similaridade2[Similaridade2.valor == Similaridade2['valor'].max()]
Similaridade22 = Similaridade22.max()
Similaridade22


dado_coluna = Similaridade22['Descricao']
dado_coluna


n_max = Similaridade22['valor']
n_max

total = Cluster2['Qtd_dp'].count()
total

DataframeTodos_Cluster2.insert(10, 'Qtd_dp', [dado_coluna, n_max, total, round(100/total*n_max,2)])
DataframeTodos_Cluster2

,Idade,Semestre,Genero,Cidade,Salario,Area_preferencia,Trabalha_area,Tempo_experiencia,Dependencias,Domina_linguagem,Qtd_dp
0,20.00,8.0,Masculino,Araras,0.0,Banco de dados,Sim,2.00,DP_Nao,Domina_Sim,0.0
1,7.00,8.0,16,8,2.0,7,13,3.00,12,11,12.0
2,16.00,16.0,16,16,16.0,16,16,16.00,16,16,16.0
3,43.75,50.0,100.0,50.0,12.5,43.75,81.25,18.75,75.0,68.75,75.0

# Cluster 3

In [ ]:
# Definindo a porcentagem de similaridade
Cluster3 = projectionDT.query('cluster_pca == 3' )
Cluster3.head(3)

# Isolamento da variavel e agrupa
DataframeTodos_Cluster3 = pd.DataFrame(columns = [], data= {})
DataframeTodos_Cluster3

Empty DataFrame
Columns: []
Index: []

In [ ]:

# Idade
Similaridade3 = Cluster3.groupby('Idade').size().reset_index()
Similaridade3 = Similaridade3.rename(columns  = {'Idade': 'Descricao', 0: 'valor'})
Similaridade3

Similaridade33 = Similaridade3[Similaridade3.valor == Similaridade3['valor'].max()]
Similaridade33 = Similaridade33.max()
Similaridade33


dado_coluna = Similaridade33['Descricao']
dado_coluna


n_max = Similaridade33['valor']
n_max

total = Cluster3['Idade'].count()
total

DataframeTodos_Cluster3 = pd.DataFrame((dado_coluna, n_max, total, round(100/total*n_max,2)), columns =['Idade'])
DataframeTodos_Cluster3


# Semestre
Similaridade3 = Cluster3.groupby('Semestre').size().reset_index()
Similaridade3 = Similaridade3.rename(columns  = {'Semestre': 'Descricao', 0: 'valor'})
Similaridade3

Similaridade33 = Similaridade3[Similaridade3.valor == Similaridade3['valor'].max()]
Similaridade33 = Similaridade33.max()
Similaridade33


dado_coluna = Similaridade33['Descricao']
dado_coluna


n_max = Similaridade33['valor']
n_max

total = Cluster3['Semestre'].count()
total

DataframeTodos_Cluster3.insert(1, 'Semestre', [dado_coluna, n_max, total, round(100/total*n_max,2)])
DataframeTodos_Cluster3


# Genero
Similaridade3 = Cluster3.groupby('Genero').size().reset_index()
Similaridade3 = Similaridade3.rename(columns  = {'Genero': 'Descricao', 0: 'valor'})
Similaridade3

Similaridade33 = Similaridade3[Similaridade3.valor == Similaridade3['valor'].max()]
Similaridade33 = Similaridade33.max()
Similaridade33


dado_coluna = Similaridade33['Descricao']
dado_coluna


n_max = Similaridade33['valor']
n_max

total = Cluster3['Genero'].count()
total

DataframeTodos_Cluster3.insert(2, 'Genero', [dado_coluna, n_max, total, round(100/total*n_max,2)])
DataframeTodos_Cluster3



# Cidade
Similaridade3 = Cluster3.groupby('Cidade').size().reset_index()
Similaridade3 = Similaridade3.rename(columns  = {'Cidade': 'Descricao', 0: 'valor'})
Similaridade3

Similaridade33 = Similaridade3[Similaridade3.valor == Similaridade3['valor'].max()]
Similaridade33 = Similaridade33.max()
Similaridade33


dado_coluna = Similaridade33['Descricao']
dado_coluna


n_max = Similaridade33['valor']
n_max

total = Cluster3['Cidade'].count()
total

DataframeTodos_Cluster3.insert(3, 'Cidade', [dado_coluna, n_max, total, round(100/total*n_max,2)])
DataframeTodos_Cluster3



# Salario
Similaridade3 = Cluster3.groupby('Salario').size().reset_index()
Similaridade3 = Similaridade3.rename(columns  = {'Salario': 'Descricao', 0: 'valor'})
Similaridade3

Similaridade33 = Similaridade3[Similaridade3.valor == Similaridade3['valor'].max()]
Similaridade33 = Similaridade33.max()
Similaridade33


dado_coluna = Similaridade33['Descricao']
dado_coluna


n_max = Similaridade33['valor']
n_max

total = Cluster3['Salario'].count()
total

DataframeTodos_Cluster3.insert(4, 'Salario', [dado_coluna, n_max, total, round(100/total*n_max,2)])
DataframeTodos_Cluster3



# Area_preferencia
Similaridade3 = Cluster3.groupby('Area_preferencia').size().reset_index()
Similaridade3 = Similaridade3.rename(columns  = {'Area_preferencia': 'Descricao', 0: 'valor'})
Similaridade3

Similaridade33 = Similaridade3[Similaridade3.valor == Similaridade3['valor'].max()]
Similaridade33 = Similaridade33.max()
Similaridade33


dado_coluna = Similaridade33['Descricao']
dado_coluna


n_max = Similaridade33['valor']
n_max

total = Cluster3['Area_preferencia'].count()
total

DataframeTodos_Cluster3.insert(5, 'Area_preferencia', [dado_coluna, n_max, total, round(100/total*n_max,2)])
DataframeTodos_Cluster3



# trabalha_area
Similaridade3 = Cluster3.groupby('Trabalha_area').size().reset_index()
Similaridade3 = Similaridade3.rename(columns  = {'Trabalha_area': 'Descricao', 0: 'valor'})
Similaridade3

Similaridade33 = Similaridade3[Similaridade3.valor == Similaridade3['valor'].max()]
Similaridade33 = Similaridade33.max()
Similaridade33


dado_coluna = Similaridade33['Descricao']
dado_coluna


n_max = Similaridade33['valor']
n_max

total = Cluster3['Trabalha_area'].count()
total

DataframeTodos_Cluster3.insert(6, 'Trabalha_area', [dado_coluna, n_max, total, round(100/total*n_max,2)])
DataframeTodos_Cluster3



# Tempo_experiencia
Similaridade3 = Cluster3.groupby('Tempo_experiencia').size().reset_index()
Similaridade3 = Similaridade3.rename(columns  = {'Tempo_experiencia': 'Descricao', 0: 'valor'})
Similaridade3

Similaridade33 = Similaridade3[Similaridade3.valor == Similaridade3['valor'].max()]
Similaridade33 = Similaridade33.max()
Similaridade33


dado_coluna = Similaridade33['Descricao']
dado_coluna


n_max = Similaridade33['valor']
n_max

total = Cluster3['Tempo_experiencia'].count()
total

DataframeTodos_Cluster3.insert(7, 'Tempo_experiencia', [dado_coluna, n_max, total, round(100/total*n_max,2)])
DataframeTodos_Cluster3



# Dependencias
Similaridade3 = Cluster3.groupby('Dependencias').size().reset_index()
Similaridade3 = Similaridade3.rename(columns  = {'Dependencias': 'Descricao', 0: 'valor'})
Similaridade3

Similaridade33 = Similaridade3[Similaridade3.valor == Similaridade3['valor'].max()]
Similaridade33 = Similaridade33.max()
Similaridade33


dado_coluna = Similaridade33['Descricao']
dado_coluna


n_max = Similaridade33['valor']
n_max

total = Cluster3['Dependencias'].count()
total

DataframeTodos_Cluster3.insert(8, 'Dependencias', [dado_coluna, n_max, total, round(100/total*n_max,2)])
DataframeTodos_Cluster3



# Domina_linguagem
Similaridade3 = Cluster3.groupby('Domina_linguagem').size().reset_index()
Similaridade3 = Similaridade3.rename(columns  = {'Domina_linguagem': 'Descricao', 0: 'valor'})
Similaridade3

Similaridade33 = Similaridade3[Similaridade3.valor == Similaridade3['valor'].max()]
Similaridade33 = Similaridade33.max()
Similaridade33


dado_coluna = Similaridade33['Descricao']
dado_coluna


n_max = Similaridade33['valor']
n_max

total = Cluster3['Domina_linguagem'].count()
total

DataframeTodos_Cluster3.insert(9, 'Domina_linguagem', [dado_coluna, n_max, total, round(100/total*n_max,2)])
DataframeTodos_Cluster3



# Qtd_dp
Similaridade3 = Cluster3.groupby('Qtd_dp').size().reset_index()
Similaridade3 = Similaridade3.rename(columns  = {'Qtd_dp': 'Descricao', 0: 'valor'})
Similaridade3

Similaridade33 = Similaridade3[Similaridade3.valor == Similaridade3['valor'].max()]
Similaridade33 = Similaridade33.max()
Similaridade33


dado_coluna = Similaridade33['Descricao']
dado_coluna


n_max = Similaridade33['valor']
n_max

total = Cluster3['Qtd_dp'].count()
total

DataframeTodos_Cluster3.insert(10, 'Qtd_dp', [dado_coluna, n_max, total, round(100/total*n_max,2)])
DataframeTodos_Cluster3

,Idade,Semestre,Genero,Cidade,Salario,Area_preferencia,Trabalha_area,Tempo_experiencia,Dependencias,Domina_linguagem,Qtd_dp
0,22.0,8.0,Feminino,Rio Claro,2.26,Redes/ Infraestrutura,Sim,4.0,DP_Sim,Domina_Nao,4.0
1,2.0,1.0,2,1,1.00,2,1,1.0,2,2,1.0
2,2.0,2.0,2,2,2.00,2,2,2.0,2,2,2.0
3,100.0,50.0,100.0,50.0,50.00,100.0,50.0,50.0,100.0,100.0,50.0

In [ ]:
fig = px.scatter(projectionDT, x='x', y='y',
                 color ='cluster_pca',
                 hover_data=['x', 'y', 'cluster_pca', 'Idade', 'Semestre', 'Genero', 'Cidade', 'Salario', 'Area_preferencia', 'Opcao_desenvolvimento ', 'Plataforma_utiliza ', 'Trabalha_area', 'Tempo_experiencia', 'Dependencias', 'Qtd_dp', 'Area_dp', 'Domina_linguagem', 'qtd_linguagem_domina', 'estrutura_dados ', 'programacao_web', 'banco_dados', 'sistemas_operacionais'])
fig.show()

#FIG

## fig

In [ ]:
pca_pipeline[1].explained_variance_ratio_.sum() #Avaliação

0.2104720084770372

In [ ]:
pca_pipeline[1].explained_variance_.sum() #Avaliação de colunas

41.95170880830437

-------------------------------

#Saida

In [ ]:
total = Cluster0['Area_preferencia'].count()
total

Dataframe = dado_coluna, n_max, round(100/total*n_max,2)
Dataframe

(4, 1, 2.63)

## Cluster 0

In [ ]:
DataframeTodos.index = ['Descricao', 'Quantidade', 'Qtd Total', 'Porcentagem']
DataframeTodos

,Idade,Semestre,Genero,Cidade,Salario,Area_preferencia,Trabalha_area,Tempo_experiencia,Dependencias,Domina_linguagem,Qtd_dp
Descricao,25.00,2.00,Masculino,Araras,0.00,Programacao,Sim,0.00,DP_Nao,Domina_Sim,0.0
Quantidade,8.00,16.00,38,11,7.00,36,24,10.00,38,34,38.0
Qtd Total,38.00,38.00,38,38,38.00,38,38,38.00,38,38,38.0
Porcentagem,21.05,42.11,100.0,28.95,18.42,94.74,63.16,26.32,100.0,89.47,100.0

##  Cluster 1

In [ ]:
DataframeTodos_Cluster1.index = ['Descricao', 'Quantidade', 'Qtd Total', 'Porcentagem']
DataframeTodos_Cluster1

,Idade,Semestre,Genero,Cidade,Salario,Area_preferencia,Trabalha_area,Tempo_experiencia,Dependencias,Domina_linguagem,Qtd_dp
Descricao,22.0,4.0,Feminino,Porto Ferreira,3300.0,Programacao,Sim,1.2,DP_Nao,Domina_Sim,0.0
Quantidade,2.0,2.0,4,1,1.0,4,2,1.0,4,3,4.0
Qtd Total,4.0,4.0,4,4,4.0,4,4,4.0,4,4,4.0
Porcentagem,50.0,50.0,100.0,25.0,25.0,100.0,50.0,25.0,100.0,75.0,100.0

## Cluster 2

In [ ]:
DataframeTodos_Cluster2.index = ['Descricao', 'Quantidade', 'Qtd Total', 'Porcentagem']
DataframeTodos_Cluster2

,Idade,Semestre,Genero,Cidade,Salario,Area_preferencia,Trabalha_area,Tempo_experiencia,Dependencias,Domina_linguagem,Qtd_dp
Descricao,20.00,8.0,Masculino,Araras,0.0,Banco de dados,Sim,2.00,DP_Nao,Domina_Sim,0.0
Quantidade,7.00,8.0,16,8,2.0,7,13,3.00,12,11,12.0
Qtd Total,16.00,16.0,16,16,16.0,16,16,16.00,16,16,16.0
Porcentagem,43.75,50.0,100.0,50.0,12.5,43.75,81.25,18.75,75.0,68.75,75.0

## Cluster 3

In [ ]:
DataframeTodos_Cluster3.index = ['Descricao', 'Quantidade', 'Qtd Total', 'Porcentagem']
DataframeTodos_Cluster3

,Idade,Semestre,Genero,Cidade,Salario,Area_preferencia,Trabalha_area,Tempo_experiencia,Dependencias,Domina_linguagem,Qtd_dp
Descricao,22.0,8.0,Feminino,Rio Claro,2.26,Redes/ Infraestrutura,Sim,4.0,DP_Sim,Domina_Nao,4.0
Quantidade,2.0,1.0,2,1,1.00,2,1,1.0,2,2,1.0
Qtd Total,2.0,2.0,2,2,2.00,2,2,2.0,2,2,2.0
Porcentagem,100.0,50.0,100.0,50.0,50.00,100.0,50.0,50.0,100.0,100.0,50.0